body {
    margin: 0;
}

ul{
    padding: 0;
}
.container , .image-text , h2, h3 ,h4, h5 , .subtitle, .box, .card-link{
    text-transform: uppercase;
    font-family: "Barlow Condensed",sans-serif;
}

.container , .navbar , .image , .dropdown ,.divider, .section, .section2 ,.section3, .card, .row, h4, .subtitle , .box , .centered , .card-link, .section3-image ,.section3-text, p{
    display: flex;
}
.container{
    text-align: center;
    box-sizing: border-box;
    justify-content: space-between;
    width: auto;
    flex-wrap:inherit;
    margin: auto;
}


.navbar {
    font-size:16px ;
    font-weight: 600;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
}

h3{
    font-size: 25px;
    text-align: center;
    color: #000;
    margin-top: 30px;
}

h3 > a:link {
    text-decoration: underline #ffd49b solid;
    color: #ffd49b;
}



.h3:hover{
  color:  #ffd49b;
  text-decoration: underline #ffd49b solid;
}


.image{
    position: relative;
}
.h2{
    color: white;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 35%;
    font-size: 5rem;

}

a:link {
    text-decoration: none;
    color: #4b463e;
}

a:visited{
    color: #4b463e;
}

a:hover {
    text-decoration:underline #ffd49b wavy;
  }


.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    width: 260px;
    padding: 30px 30px 30px 40px;
    z-index: 1;
    top: 78px;


}

.dropdown-text{
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
}

/* .dropdown-text:hover{
   /* text-decoration:underline #ffd49b wavy; */
/* }  */

.dropdown:hover  div.dropdown-content {
    display: block;
}
.dropdown-content a:hover{
  color: #ffd49b;
  text-decoration: none;
}

.dropdown-content a{
  color: white;
}

.section{
    padding: 150px;
    position: relative;
    justify-content: center;
}

.section2{
    flex-direction: column;
    flex-wrap: wrap;
}


.row {
    justify-content: space-around;
    padding: 10px;
}
.card{
      color: #000;
      flex-direction: row;
      padding: 10px;
      width: 571px;
      position: relative;
}

.card-link{
  text-decoration:underline #ffd49b solid;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  color: #000;
  text-align: left;
  margin: 0 30px;
  top: 50%;
}

a.card-link:hover {
  text-decoration:underline #ffd49b solid !important;
  color: #ffd49b;

}

.divider {
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

h2::before{
    content: "everything we do is ";
    font-size: 15px;
    color: rgba(255, 255, 255, .5);

}
.card-text {
    font-size: 50px;
    margin:0px 70px 20px 30px;
    color: #000;
    position: absolute;
    top: 30%;
}

.image-container{
  position: relative;
  text-align: center;
}


.centered, .subtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.centered{
  background-color: white;
  width: 400px;
  max-width: 100%;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px;
}


h5 {
  font-size: 27px;
  color: #000;
  text-align: center;
  box-sizing: border-box;
}



.subtitle {
  font-size: 15px;
  color: #000;
  text-transform: none !important;
  margin-top: 45px;
}

.subtitle:hover{
  color:  #9c9c9c;
}

/* .card-link::after{
  content: "";
  text-decoration: #ffd49b solid;
  background-color: #ffd49b;
  color: #ffd49b;
  } */

  .section3{
    padding: 210px 0px  210px 70px;
    /* margin: 0; */
    /* padding-right: 0; */

  }
  .c-divider{
    position: absolute;
    margin-bottom: 20px;
  }

  .section3-image{
    margin-left: 35%;
    width: 100%;
  }

  .section3-text{
    font-size: 45px;
    margin:30px 0;

  }

  .p{
    width: 35%;
    font-size: 17px;
  }
