body {
    margin: 0;
}

ul{
    padding: 0;
}
.container , .image-text , h2, h3 ,h4 {
    text-transform: uppercase;
    font-family: "Barlow Condensed",sans-serif;
}

.container , .navbar , .image , .dropdown ,.divider, .section2 , .card, .row{
    display: flex;
}
.container{
    text-align: center;
    box-sizing: border-box;
    justify-content: space-between;
    width: auto;
    flex-wrap:inherit;
    margin: auto;
}


.navbar {
    font-size:16px ;
    font-weight: 600;
    justify-content: center;
    padding: 15px;
    flex-wrap: wrap;
}

h3{
    font-size: 25px;
    text-align: center;
    color: #000;
    margin-top: 30px;
}

h3 > a:link {
    text-decoration: underline #ffd49b solid;
    color: #ffd49b;
}

.image{
    position: relative;
}
.image-text{
    color: white;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 35%;
    font-size: 5rem;
    
}

a:link {
    text-decoration: none;
    color: #4b463e;
}

a:visited{
    color: #4b463e;
}

a:hover {
      text-decoration:underline #ffd49b wavy;
      color:#514936;
  }


.dropdown{
    position: relative;
}

div.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    width: 200%;
    padding: 20px;
    z-index: 1;
    
}

.dropdown:hover  div.dropdown-content {
    display: block;
}
.dropdown-content a:hover{
  color: #ffd49b;
}

.dropdown-content a{
  color: white;
}

.section{
    padding: 150px;
}

.section2{
    flex-direction: column;
    width:auto;
    /* flex-wrap: wrap; */
}

.row {
    flex-wrap: wrap;

}
.card{
      /* margin: auto; */
      background-color: white;
      color: #000;
     
      
}


.divider {
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

h2::before{
    content: "everything we do is ";
    font-size: 15px;
    color: rgba(255, 255, 255, .5);

}
h4 {
    font-size: 40px;
    margin-left: auto;
    margin-right: 0;
    text-align: left;
}

